<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <select class="" name="">
      <option>Select Destination Country</option>
      <option>--------------------------</option>
      {% for country in countries%}
        <option value={{country.Alpha2Code}}>{{ country.Name }}</option>
      {% endfor %}
    </select>

    <script type="text/javascript" src="/static/lib/jquery-3.3.1.min.js"></script>
    <script src="/static/lib/nunjucks.js"></script>
    <script type="text/javascript" src="/static/scripts/index.js"></script>
  </body>
</html>
