/* Reset Browser Style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Main page styles */




.contents {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90vh;
  width: 100vw;
}

.content-overflow {
	overflow: auto;
}

.country-info {
	height: 45vh;
	line-height: 1.2;
	margin-top: 8px;
}

.country-info p+p {
	margin-top: 8px;
}

.country-info b{
	font-weight: bold;
}

.country-info-titles {
	font-family: Arial, Helvetica, sans-serif;
}
#embassy-consulate-info {
	height: 36.4vh;
}


.exchange-rate {
	margin: 10px 0 0;
}

.exchange-rate-info {
  margin: 5px 0 0;
	padding: 6px;

}

.exchange-rate-info h5{
  height: 20%;

}

.exchange-rate-info h5{
	height: 20%;
}

.entry-exit{
	margin: 10px 0 0;
	padding: 0 5px;
}

.embassy-consulate-info{
  margin: 10px 0 0;
	padding: 6px;

}

.country-info-titles {
	font-weight: bold;
  text-align: center;

}

.info-section{
  height: 55%;
}

.info-container{
  height: 100%;
}

.info-row{
  height: 100%;
	
}

.map-section{
  height: 45%;
	/* width: 100%; */
}

.map-container{
	display: flex;
	align-items: center;
	justify-content: center;
  height: 100%;
	/* width: 100%; */
}

.map-row{
	height: 100%;
	width: 100%;
}

.map-column{
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.security-info{
	margin: 10px 0 0;
	padding: 0 5px;
}

.security-info h6{
  text-align: center;
}

.select-country{
	height: 100px;
	margin: auto;
	padding: 5px;
}

.select-country select{
	height: 32px;
}

/* Always set the map height explicitly to define the size of the div
element that contains the map. */
#map {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}
